.products {
  padding: 30px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background: #fff;
  width: 80rem;
  margin: auto;
  margin-top: 10em;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  border-radius: 12px;
  position: relative;
}

.products-card {
  width: fit-content;
  height: fit-content;
  padding: 5px;
  padding-top: 70px;
  display: flex;
  flex-direction: column;
}

.products-card img {
  border-radius: 12px;
  height: 17rem;
  align-self: center;
}

.products-card a {
  font-size: 14px;
}

.products-card h2 {
  font-size: 18px;
  word-wrap: break-word;
}
.products-card h5 {
  color: rgb(173, 173, 173);
}

.add {
  font-size: 3.5rem;
  padding-bottom: 19px;
  padding-right: 10px;
}

.add-product {
  position: fixed;
  left: 3%;
  top: 70%;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  color: darkseagreen;
}

.rate {
  padding: 1.4rem 0;
  direction: ltr;
  align-self: center;
}

.bttn {
  height: 1.8rem;
  width: 6rem;
  color: #fff;
  background: #6b705c;
  border-radius: 10px;
  font-size: 14px;
  border: 1px solid #000;
  cursor: pointer;
}

.bttn:hover {
  background: rgb(231, 229, 229);
  color: #6b705c;
}

.disabled-bttn {
  width: 6rem;
  border: 1px solid rgb(109, 109, 109);
  border-radius: 10px;
  font-size: 14px;
  height: 1.8rem;
  opacity: 0.3;
}

.Swipe {
  margin-top: 5em;
  /* margin-right: 9em; */
  margin-left: 0;
  padding-left: 0;
  width: 90%;
}

.b1,
.b2,
.b3 {
  height: 33rem;
  width: 90%;
  object-fit: fill;
}

.delete {
  width: fit-content;
}

.products-card .green {
  color: green;
}

.products-card .red {
  color: rgb(197, 23, 23);
}
@media screen and (max-width: 900px) {
  .products {
    width: 80vw;
    height: auto;
  }
  .products-card {
    width: 6rem;
    height: fit-content;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
  }

  .products-card img {
    width: 9rem;
    height: 9rem;
  }

  .products-card h2 {
    font-size: 13px;
    word-wrap: break-word;
  }

  .rate {
    direction: ltr;
    align-self: flex-start;
  }

  .Swipe {
    margin-top: 12em;
    margin-right: 1.2em;
    width: 90vw;
    height: 20rem;
  }

  .b1,
  .b2,
  .b3 {
    /* background: rgb(28, 218, 224); */
    height: 20rem;
    width: 90vw;
  }

  .bttn {
    height: 1.8rem;
    width: 4.3rem;
    color: #fff;
    background: #6b705c;
    border-radius: 10px;
    font-size: 10px;
    border: 1px solid #000;
    cursor: pointer;
    font-weight: bold;
  }

  .bttn:hover {
    background: rgb(231, 229, 229);
    color: #6b705c;
  }

  .products-card h5,
  h4 {
    margin: 3px;
    margin-bottom: 10px;
  }

  .add-product {
    position: fixed;
    left: 4%;
    top: 75%;
    cursor: pointer;
    display: flex;
    flex-direction: column;
  }
  .products-card a {
    font-size: 12px;
  }
}
