.products {
  padding: 30px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background: #fff;
  width: 80rem;
  margin: auto;
  margin-top: 10em;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  border-radius: 12px;
  position: relative;
}

.products-card {
  width: fit-content;
  height: fit-content;
  padding: 5px;
  padding-top: 70px;
  display: flex;
  flex-direction: column;
}

.products-card img {
  border-radius: 12px;
  height: 17rem;
}

.products-card h2 {
  font-size: 13px;
  font-weight: bold;
  word-wrap: break-word;
}

.add {
  font-size: 3.5rem;
  position: fixed;
  left: 3%;
  top: 77%;
  cursor: pointer;
}

.rate {
  direction: ltr;
 /* left: 60%; */
 align-self:flex-start;
}


.bttn {
  height: 1.8rem;
  width: 6rem;
  color: #fff;
  background: #6b705c;
  border-radius: 10px;
  font-size: 14px;
  border: 1px solid #000;
  cursor: pointer;
}

.Swipe {
  margin-top: 5em;
  margin-left: 9em;
}

.b1{
/* background: rgb(28, 218, 224); */
height: 33rem;
width: 90%;
}
.b2{
/* background: rgb(164, 226, 47); */
height: 33rem;
width: 90%;

}
.b3{
/* background: rgb(219, 21, 21); */
height: 33rem;
width: 90%;

}
