/* .cart-Component {
    margin-top: 7px;
    padding: 7px;
    padding-top: 7em;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    background: rgb(241, 62, 62);
    height: fit-content;
} */

.continue a, .check a {
    width: 6rem;
    border-radius: 10px;
    font-size: 15px;
    color: #78b176;
    /* background: #000; */
}


/* .cart-card {
display: flex;
justify-content: space-evenly;
width: 40rem;
} */


.cart-card img {
    width: 7rem;
    height: 8rem;
}

.delete-icon {
    font-size: 1.7rem;
    position: absolute;
    top: 63px;
    /* padding-top: 2.1em; */
    /* cursor: pointer; */
}