.profile {
  margin: auto;
  padding: 2em;
  margin-top: 7rem;
  width: 40rem;
  text-align: center;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  border-radius: 12px;
  color: #cb997e;
  background: #d8e2dc;
}

.profile-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.profile img {
  width: 7rem;
  height: 7rem;
  border-radius: 66px;
}

.rate2 {
  direction: ltr;
}
