.one-post {
    padding: 30px;
  display: flex;
  /* align-items: center; */
 flex-direction: column;
  width: 70rem;
  margin: auto;
  margin-top: 10em;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  border-radius: 12px;
  position: relative;
  background: #d8e2dc;
}

.post-img {
  margin-top: 5em;
}


.textarea {
  width: 22rem;
}

.comment-bttn {
  width: 5rem;
}

.avatar2 {
  width: 4rem;
  height: 5rem;
  padding-left: 12px;
}

.user {
  display: inline-flex;
  padding: 9px;
}
.post-img {
    width: 19rem;
    border: 2px solid #a5a58d;
}


.edit {
  cursor: pointer;
}