.header header {
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background: #000; */
  height: 6rem;
  position: relative;
}

a {
  text-decoration: none;
  color: #b7b7a4;
  font-size: 30px;
}

/* .avatar {
  cursor: pointer;
} */

.cart {
  font-size: 2.5rem;
  cursor: pointer;
}

.logo {
  width: 15rem;
}
