.header header {
  display: flex;
  justify-content: space-around;
  align-items: center;

  height: 6rem;
}

a {
  text-decoration: none;
  color: black;
  font-size: 30px;
}

.avatar {
  cursor: pointer;
}

.cart {
  font-size: 1.7rem;
  cursor: pointer;
}
