.h1 {
  /* margin: auto; */
  margin-top: 16%;
  font-size: 6em;
  font-family: "Reem Kufi", sans-serif;
  /* width: 60rem; */
  /* background: #000; */
  text-decoration: underline;
  text-align: center;
  color: #6b705c;
}

.p1 {
  /* background: #000; */
  color: #52b788;
  width: 40rem;
  margin: auto;
  /* margin: 0 12%; */
  font-size: 30px;
  font-family: "Harmattan", sans-serif;
}

.section2 {
  position: relative;
  padding: 6rem;
  padding-top: 20rem;
  padding-right: 11rem;
}

.section2 h1 {
  position: absolute;
  top: 30%;
  left: 5%;
  /* background: #000; */
  width: 40rem;
  font-family: "Reem Kufi", sans-serif;
  color: #6b705c;
}
.section2 p {
  position: absolute;
  top: 42%;
  left: 5%;
  font-weight: 800;
  /* background: #000; */
  color: #52b788;
  width: 40rem;
  font-family: "Harmattan", sans-serif;
  font-size: 2em;
}
.box1 {
  position: absolute;
  bottom: 23%;
  left: 55%;
  background: #85a384;
  width: 25rem;
  height: 33rem;
  z-index: -1;
  border-radius: 9px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.img1 {
  width: 23rem;
  border-radius: 9px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.img2 {
  /* direction: ltr; */
  height: 43rem;
  width: 32rem;
  border-radius: 9px;
  position: absolute;
  right: 56%;
  bottom: -31%;
  /* box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px; */
}

.section3 {
  /* direction: ltr; */
  margin-top: 10rem;
  display: flex;
  background: #85a384;
  height: 20rem;
  width: 70rem;
  border-radius: 9px;
  position: relative;
}
.section3 h1 {
  /* direction: rtl; */
  width: 40rem;
  font-family: "Reem Kufi", sans-serif;
  color: #fff;
  margin: auto;
  font-size: 50px;
}

.section3 p {
  /* color: #7ce042; */
  font-family: "Harmattan", sans-serif;
  font-size: 1.8em;
  position: absolute;
  top: 65%;
  left: 38%;
  /* background: #000; */
}
.section3 h4 {
  color: #fff;
  /* font-family: "Harmattan", sans-serif; */
  font-size: 1.6em;
  position: absolute;
  top: 71%;
  left: 14%;
  border: 3px solid #fff;
  border-radius: 5px;
  padding: 2px;
  background: #3a5a40;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.section4 {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100vh;
  /* background: #000; */
}

.section4 h1 {
  color: #dad7cd;
  position: absolute;
  top: 90%;
  background: #588157;
  padding: 5px;
}

.img3 {
  height: 23rem;
  width: 16rem;
  border-radius: 92px 92px 0px 0px / 81px 81px 0px 0px;
  padding: 8px;
  /* position: absolute;
  right: 45%;
  bottom: 22.6%; */
  /* box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px; */
}

.box3 {
  height: 24rem;
  width: 17rem;
  border: 3px solid #344e41;
  border-radius: 92px 92px 0px 0px / 81px 81px 0px 0px;
  position: absolute;
  top: 30%;
}

.section4 p {
  position: absolute;
  top: 100%;
  color: #344e41;
}

@media screen and (max-width: 600px) {
  /* .home {
    background: #000;
  } */

  .section1 {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    text-align: center;
    /* width: 100vw; */
    font-size: 6px;
  }

  .p1 {
    margin-right: 23rem;
    font-size: 25px;
    width: 300px;
    /* text-align: center; */
  }

  .section2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* position: relative; */
    padding: 6rem;
    /* font-size: 10px;
    width: 300px;
    background: #000; */
    /* word-wrap:break-word; */
  }

  .section2 h1 {
    font-size: 20px;
  }
  .section2 p {
    /* margin-right: 23rem; */
    font-size: 25px;
    width: 300px;
    /* text-align: center; */
  }
  .box1 {
    width: 15rem;
    height: 20rem;
    z-index: -1;
    position: absolute;
    bottom: 60%;
    left: 55%;
  }

  .img1 {
    width: 15rem;
    height: 20rem;
    position: absolute;
    bottom: 50%;
    left: 40%;
  }

  .section3 {
    /* direction: ltr; */
    margin-top: 30rem;
    display: flex;
    justify-content: center;
    height: 12rem;
    width: 25rem;
    padding: 6px;
  }

  .img2 {
    /* direction: ltr; */
    width: 8.4rem;
    /* height: 8rem; */
    border-radius: 9px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  }

  .section3 h1 {
    position: absolute;
    left: 40%;
    text-align: center;
    width: 14rem;
    font-size: 2em;
    font-family: "Reem Kufi", sans-serif;
    color: #6b705c;
  }

  .section3 p {
    padding-top: 4.3rem;
    font-size: 14px;
  }
}
