@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Reem+Kufi:wght@600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Harmattan&display=swap');
.App {
 position: relative;
  height: 100%;
  width: 100vw;
  /* background: #b98b6e; */
}

.leaf {
  height: 50rem;
  width: 100%;
}

@media screen and (max-width: 600px){
  .App {
    background: rgb(241, 141, 141);
  }

  .leaf {
    height: 30rem;
    width: 100%;
  }
}
