.users {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  position: relative;
}

.user-card {
  width: 10rem;
  /* border: 2px solid; */
}

.user-card img {
  width: 130px;
  border-radius: 66px;
}
