.users {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  position: absolute;
  top: 24%;
  right: 20%;
  width: 55rem;
}

.user-card {
  width: 10rem;
  /* border: 2px solid; */
}

.user-card img {
  width: 130px;
  border-radius: 66px;
}

.delete-icon {
  font-size: 25px;
  position: absolute;
  top: 10%;
}

.h11 {
  text-align: center;
}
