.registe {
  width: 30rem;
  margin: auto;
  margin-top: 10em;
  padding: 5em;
  border-radius: 20px;
  position: relative;
  text-align: center;
  color: black;
  /* height: 10rem; */
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.registe h1 {
  color: #78b176;
}
.registe button {
  right: 33%;
  width: 11rem;
  font-size: 30px;
  font-weight: bold;
  color: #78b176;
}
